.task-form-container {
    margin: 20px;
    border: 1px solid royalblue;
    .label {
        width: 200px;
        float: left;
    }
    .task-form-row {
        margin: 20px;
    }
    .task-form-submit-btn {
        padding: 10px 15px;
        color: white;
        background-color: royalblue;
        font-weight: bold;
        font-size: 15px;
    }
}